.image{
    height: 40px;
    width: 30px;
}
.tablerow{
  
   width: 100%;
  padding-left: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.mainbutton{
    width: 20%;
    margin: auto;
    margin-top: 10px;
}
button{
    background-color: grey;
    color: blue;
    font-size: x-large;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}
/* .tablerow1{

    margin-right: 100px;
} */

.tableclass{
   width: 100%;
   border: 1px solid grey;
 
}
